// 컬러
$green : #74BF31;
$orange : #FF8100;
$gray : #333333;
$lightgray : #848484;
$black : #000000;
$white : #ffffff;

.fontwhite {
    color: $white;
}
.fontBlack {
    color: $black;
}
.fontGray {
    color: $gray;
}
.fontLightgray {
    color: $lightgray;
}
.fontGreen {
    color: $green;
}
.fontOrange {
    color : $orange;
}


// 그리드 가이드
.sectionBlank {
    margin-bottom: 200px;
}
.contentBlank {
    margin-bottom: 30px;
}
.imgBlank {
    padding-right: 20px;
}
.issueBlank {
    padding-right: 12px;
}
.supportBlank {
    padding-right: 40px;
}

// 컨테이너 - width(1824px)
.mainContainer {
    max-width: 1824px;
    height: auto;
}

// 폰트
// 전체 공용 폰트
body { 
    font-family: 'NotoSansKR';
    letter-spacing: -0.5rem;
}

// 폰트 두께
.fontThin {
    font-weight: 100;
}
.fontLight {
    font-weight: 300;
}
.fontRegular {
    font-weight: 400;
}
.fontMedium {
    font-weight: 500;
}
.fontSemibold {
    font-weight: 600;
}
.fontBold {
    font-weight: 700;
}

// 커스텀
// 헤더
.naviMenu {
    font-size: 18px;
    color: $gray;
    font-weight: 500;
}
.naviSubmenu {
    font-size: 15px;
    color: $gray;
    font-weight: 400;
}

// 메인 스와이퍼
.mainSwiperTitle {
    font-family: 'JosefinSans';
    font-size: 35px;
    color: $white;
    font-weight: 700;
    letter-spacing: 12rem;
}
.mainSwiperSub {
    font-size: 18px;
    color: $white;
    font-weight: 600;
    letter-spacing: 5rem;
}

// 핵심가치 리포트
.valueReportTitle{
    font-size: 34px;
    font-weight: 600;
}
.valueReportSub {
    font-family: 'JosefinSans';
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 5rem;
}
.valueReportText {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5rem;
}
.valueReportIcon {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.125rem;
}

// 공용 타이틀, 리드카피, 스와이퍼 텍스트
.commonTitle {
    font-family: 'JosefinSans';
    font-size: 35px;
    color: $gray;
    font-weight: 600;
    letter-spacing: -0.8rem;
}
.commonLeadcopy {
    font-size: 16px;
    color: $gray;
    font-weight: 400;
}
.commonSwiperTitle {
    font-size: 24px;
    color: $white;
    font-weight: 500;
}
.commonSwiperSub {
    font-family: 'JosefinSans';
    font-size: 15px;
    color: $white;
    font-weight: 300;
}
.commonSwiperText {
    font-size: 14px;
    color: $white;
    font-weight: 300;
    line-height: 1.5rem;
}

// 이슈
.issueNew {
    font-size: 12px;
    color: $white;
    font-weight: 600;
}
.issueTitle {
    font-size: 12px;
    color: $white;
    font-weight: 600;
    line-height: 1rem;
}
.issueDate {
    font-size: 8px;
    color: $white;
    font-weight: 300;
}

// 캠페인
.campaignTitle {
    font-family: 'JosefinSans';
    font-size: 65px;
    color: $white;
    font-weight: 500;
    letter-spacing: -0.8rem;
    line-height: 4rem;
}
.campaignSub {
    font-size: 24px;
    color: $white;
    font-weight: 600;
    letter-spacing: -0.9rem;
}
.campaignText {
    font-size: 17px;
    color: $white;
    font-weight: 500;
    line-height: 1.6rem;
}

// 후원
.supportTitle {
    font-size: 35px;
    color: $white;
    font-weight: 600;
    line-height: 1.6rem;
}
.supportText {
    font-size: 16px;
    color: $white;
    font-weight: 500;
    line-height: 1.5rem;
}
.supportBox {
    font-size: 20px;
    font-weight: 500;
}
.supportBoxText {
    font-size: 17px;
    font-weight: 400;
}

// 뉴스레터
.newsletterTitle {
    font-size: 22px;
    color: $white;
    font-weight: 600;
}
.newsletterText {
    font-size: 16px;
    color: #8E8E8E;
    font-weight: 100;
}

// 풋터
.footerMenu {
    font-size: 16px;
    color: $white;
    font-weight: 500;
}
.footerText {
    font-size: 16px;
    color: $white;
    font-weight: 100;
}